tensorflow/
labelImg/
DrowsinessDetection/data/
Face Detection/data/
Face Detection/aug_data/
Face Detection/logs/
Face Recognition/data/
Face Recognition/lfw/
Face Recognition/training_checkpoints/
Face Recognition/siameseModel.h5
OCR/data/
Attendance System/images/
Attendance System/features/
Attendance System/user_imgs/
Attendance System/images.zip
Attendance System/1.zip