tensorflow/
labelImg/
DrowsinessDetection/data/
Face Detection/data/
Face Detection/aug_data/
Face Detection/logs/
Face Recognition/data/
Face Recognition/lfw/
Face Recognition/training_checkpoints/
Face Recognition/siameseModel.h5
OCR/data/
Attendance System/images/